<div class="navigation">
  <nav class="navigation__panel">
    <img
      src="/icons/lord-vader.svg"
      class="navigation__icon"
      alt="Дарт Вейдер"
    />

    <ul class="navigation__list">
      @for (route of routes; track route.path) {
        <li class="navigation__item">
          <a
            [routerLink]="route.path"
            class="navigation__link"
            routerLinkActive="navigation__link--active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ route.name }}
          </a>
        </li>
      }
    </ul>

    <div class="navigation-profile__wrapper">
      <img
        src="/svg/profile.svg"
        class="navigation__icon navigation__icon-profile"
        alt="Профиль"
        (click)="handleProfileClick()"
        (pointerdown)="$event.stopPropagation()"
      />
      <app-context-menu
        [options]="contextMenuOptions"
        [isVisible]="isContextMenuVisible()"
        (onMenuOptionSelect)="handleProfileMenuSelect($event)"
        (clickOutside)="isContextMenuVisible.set(false)"
      ></app-context-menu>
    </div>
  </nav>
</div>
