.render-list-item {
  height: 400px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #000;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.render-list-item:hover {
  transform: translateY(-15px);
  box-shadow: 0 0 20px var(--accent-color, #fff);
}

.render-list-item__content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.render-list-item__inner {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  padding: 20px 0;
  border-radius: 8px;
}

.render-list-item__title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.render-list-item__subtitle {
  margin: 4px 0 0;
  overflow: hidden;
  color: var(--accent-palette);
  font-size: 11px;
  letter-spacing: 0.22em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}