<div class="sticky top-0 z-50 w-full flex justify-center px-4">
  <nav
    class="
      navigation-panel
      w-full container h-[56px]
      text-white
      flex items-center justify-center
      gap-x-[25px] text-[14px]
      mt-[25px]
      relative
    "
  >
    <img 
      src="/icons/lord-vader.svg" 
      class="navigation-icon w-[30px] absolute left-[20px]"
    >
    @for(route of routes; track route.path) {
      <a 
        [routerLink]="route.path"
        class="navigation-link"
        routerLinkActive="navigation-link_active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        {{ route.name }}
      </a>
    }
  </nav>
</div>