<div class="sticky top-0 z-1 w-full flex justify-center">
  <nav
    class="
      w-full container h-[50px] 
      bg-black text-white 
      flex items-center justify-center 
      gap-x-[25px] text-[14px]
      mt-[25px]
      rounded-[12px]
      relative
    "
  >
    <img 
      src="/icons/lord-vader.svg" 
      class="w-[30px] absolute left-[20px]"
    >
    @for(route of routes; track route.path) {
      <a 
        [routerLink]="route.path"
        routerLinkActive="text-main"
        [routerLinkActiveOptions]="{exact: true}"
      >
        {{ route.name }}
      </a>
    }
  </nav>
</div>