<div class="navigation">
  <nav class="navigation__panel">
    <img
      src="/icons/lord-vader.svg"
      class="navigation__icon"
      alt="Дарт Вейдер"
    />

    <ul class="navigation__list">
      @for (route of routes; track route.path) {
        <li class="navigation__item">
          <a
            [routerLink]="route.path"
            class="navigation__link"
            routerLinkActive="navigation__link--active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ route.name }}
          </a>
        </li>
      }
    </ul>

    <img
      src="/svg/profile.svg"
      class="navigation__icon"
      alt="Профиль"
      (click)="authService.logout()"
    />
  </nav>
</div>
