<app-auth-template
  title="Вход в систему"
  subtitle="Авторизуйтесь, чтобы получить доступ к персонажам, эпизодам и планетам."
  (onHuckAuth)="authHack()"
>
  <form class="auth-page__form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div>
      <label class="auth-page__label">Позывной</label>
      <input
        class="auth-page__input"
        type="text"
        placeholder="Например, skywalker"
        formControlName="login"
      />
      <p 
        class="auth-page_error" 
        *ngIf="loginControlHasErrors"
      >
        {{ loginControl.errors?.required && 'Поле логин не может быть пустым' }}
        {{ loginControl.errors?.minlength && 'Минимальная длина 5 символов' }}
      </p>
    </div>

    <div>
      <label class="auth-page__label">Код доступа</label>
      <input
        class="auth-page__input"
        type="password"
        placeholder="Введите пароль"
        formControlName="password"
      />
      <p 
        class="auth-page_error"
        *ngIf="passwordControlHasErrors"
      >
        {{ passwordControl.errors?.required && 'Поле пароль не может быть пустым' }}
        {{ passwordControl.errors?.minlength && 'Минимальная длина 8 символов' }}
      </p>
    </div>

    <div class="auth-page__actions">
      <label class="auth-page__remember">
        <input type="checkbox" name="remember" />
        <span>Запомнить меня</span>
      </label>

      <a class="auth-page__link" href="#">Забыли код?</a>
    </div>

    <button 
      class="auth-page__button" 
      type="submit"
      [disabled]="disabledSubmitBtn"
    >
      Войти в архив
    </button>

    <div class="sign-up-wrapper">
      <a class="sign-up-txt" routerLink="/sign-up">Нет аккаунта? Зарегистрируйтесь</a>
    </div>
  </form>
</app-auth-template> 
