@keyframes float-spin {
  0% {
    transform: scale(1) ;
  }
  50% {
    transform: scale(1.2) ;
  }
  100% {
    transform: scale(1) ;
  }
}

.animate-float-spin {
  animation: float-spin 2s ease-in-out infinite;
}